spring:
  application:
    name: Doctor_Appointment

  datasource:
    url: jdbc:mysql://localhost:3306/Doctor_Appointment_Secured?createDatabaseIfNotExist=true
    username: root
    password: pArTh@1503
    driver-class-name: com.mysql.cj.jdbc.Driver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQLDialect

server:
  port: 8081
